@use "../_base/layouts" as *;
@use "./_covers";

section.bq-yellow blockquote {
  padding: 1%;
  border-left: none;
  background-color: var(--color-surface);
}

section.bq-yellow blockquote > p::before {
  content: "";
  padding-right: 0;
  color: var(--color-on-primary);
}

section.bq-yellow blockquote > p:nth-child(1) {
  margin-bottom: -1px;
  padding: 0.5% 0.5% 0.5% 1.5%;
  color: var(--color-on-primary);
  font-size: 1.03rem;
  line-height: 2rem;
  background-color: var(--color-callout-yellow);
}

section.bq-yellow blockquote > p:not(:nth-child(1)) {
  padding: 1% 2%;
  background-color: var(--color-callout-body);
}

section.bq-yellow blockquote > p:nth-child(1)::before {
  content: "!";
  padding-right: 2%;
  font-weight: 900;
}
