@font-face {
  font-family: "Heaticy Latin Modern Roman";
  src: url("https://heaticy-1310163554.cos.ap-shanghai.myqcloud.com/markdown/heaticy-marp/assets/fonts/latin-modern/lmroman10-regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Heaticy Latin Modern Roman";
  src: url("https://heaticy-1310163554.cos.ap-shanghai.myqcloud.com/markdown/heaticy-marp/assets/fonts/latin-modern/lmroman10-bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Heaticy Latin Modern Sans";
  src: url("https://heaticy-1310163554.cos.ap-shanghai.myqcloud.com/markdown/heaticy-marp/assets/fonts/latin-modern/lmsans10-regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Heaticy Latin Modern Sans";
  src: url("https://heaticy-1310163554.cos.ap-shanghai.myqcloud.com/markdown/heaticy-marp/assets/fonts/latin-modern/lmsans10-bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Heaticy Latin Modern Mono";
  src: url("https://heaticy-1310163554.cos.ap-shanghai.myqcloud.com/markdown/heaticy-marp/assets/fonts/latin-modern/lmmono10-regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Heaticy Latin Modern Mono";
  src: url("https://heaticy-1310163554.cos.ap-shanghai.myqcloud.com/markdown/heaticy-marp/assets/fonts/latin-modern/lmmonolt10-bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Heaticy Noto Serif CJK SC";
  src: local("Heaticy Noto Serif CJK SC"), local("Noto Serif CJK SC");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Heaticy Noto Serif CJK SC";
  src: local("Heaticy Noto Serif CJK SC Bold"), local("Noto Serif CJK SC Bold"), local("Noto Serif CJK SC");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Heaticy Noto Sans CJK SC";
  src: local("Heaticy Noto Sans CJK SC"), local("Noto Sans CJK SC");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Heaticy Noto Sans CJK SC";
  src: local("Heaticy Noto Sans CJK SC Bold"), local("Noto Sans CJK SC Bold"), local("Noto Sans CJK SC");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Heaticy Noto Sans Mono CJK SC";
  src: local("Heaticy Noto Sans Mono CJK SC"), local("Noto Sans Mono CJK SC");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Heaticy Noto Sans Mono CJK SC";
  src: local("Heaticy Noto Sans Mono CJK SC Bold"), local("Noto Sans Mono CJK SC Bold"), local("Noto Sans Mono CJK SC");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
